@if(type == "textearea")
  <label for="{{ name }}">Desctiption</label>
  <textarea type="textearea" name="{{ name }}" class="form-control" placeholder="Description here..."></textarea>
@elseif(type == "text")
  <label for="{{ name }}">{{ label }}</label>
  <input type="text" name="{{ name }}"  class="form-control">
@else
  <label for="{{ name }}">{{ label }}</label>
  <input type="number" name="{{ name }}" class="form-control">
@end