@layout('admin/base')
@set('title', "Administration new")
@section('body')
    <h4>Add a new category</h4>
    <form class="form-group" action="" method="post" enctype="multipart/form-data">
       <div class="mb-4">
         @component('components/form', {
            name: "name",
            label: "Name",
            type: "text",
            })
        @end
       </div>
        <button class="btn btn-primary" type="submit" >Validate creation</button>
    </form>
@end