@layout('admin/base')
@set('title', "Administration new")
@section('body')
    <h4>Add a new category</h4>
    <form action="" method="post" enctype="multipart/form-data">
        <div class="form-group">
            @component('components/form', {
                name: "name",
                label: "Name",
                type: "text"
            })
            @end
            <button class="btn btn-primary" type="submit" >Validate creation</button>
        </div>
    </form>
@end