@if(flashMessages.has("success"))
    <app-toast type="success" message="{{ flashMessages.get('success') }}"></app-toast>
@elseif(flashMessages.has("err"))
    <div class="alert alert-danger">
        {{ flashMessages.get('err') }}
    </div>
@end
    