@if(flashMessages.has("success"))
    <app-toast type="success" message="{{ flashMessages.get('success') }}"></app-toast>
@elseif(flashMessages.has("err"))
    <app-toast type="error" message="{{ flashMessages.get('err') }}"></app-toast>
@end


    