<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;600&display=swap" rel="stylesheet">
  <title>{{ title }}</title>
  @entryPointScripts('app')
  @entryPointStyles('app')
</head>
<body>
  <header class="header">
    <h3 class="header__logo">passion <span class="logo--green">education</span></h3>
    <nav class="header__nav">
      <ul class="nav__list">
        <li class="nav__item"><a href="" class="nav__link">acceuil</a></li>
        <li class="nav__item"><a href="" class="nav__link">immeuble</a></li>
        <li class="nav__item"><a href="" class="nav__link">connextion</a></li>
      </ul>
    </nav>
  </header>
  @!section('body')
</body>
</html>
