@layout('home/base')

@layout('layouts/main')
@set('title', 'Home Page')

@section('body')
  <section class="section section--hero">
    <div class="section__body">
      <h4>Home Page !</h4>
    </div>
  </section>
@end