@layout('home/base')
@layout('layouts/main')
@set('title', 'Home Page')
@section('body')
  @include('partials/flash')
  <div class="row">
    @each(property in properties)
      @include('partials/card')
    @end
    @include('partials/pagination')
  </div>
@end