.header {
  margin-bottom: 5rem;
}
.header__nav {
  display: flex;
  justify-content: flex-end;
  padding: 5rem;
}
.nav__list {
  list-style: none;
  display: flex;
  gap: 3rem;
}
.nav__link {
  &:link,
  &:visited {
    color: $white-primary;
    transition: all 0.3s;
  }

  &:hover,
  &:active {
    color: $bleue-secondary;
  }
}

.active {
  &::after {
    content: "";
    display: block;
    height: 0.2rem;
    width: 9rem;
    margin-top: 0.6rem;
    background-color: $bleue-secondary;
  }
}
