.header {
  margin-bottom: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5rem;
}

.logout__icon {
  color: $red-primary;
  font-size: 2.5rem;
}

.signout {
  margin-top: -1rem;
}

.logout__link {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.nav__list {
  list-style: none;
  display: flex;
  gap: 3rem;
}

.nav__link {
  &:link,
  &:visited {
    color: $dark-primary;
    transition: all 0.3s;
  }

  &:hover,
  &:active {
    color: $red-primary;
  }
}
