.section--hero {
  margin-bottom: 12.8rem;
}

.hero__body {
  padding: 10rem 0;
}

.hero__description {
  font-size: 3rem;
  line-height: 1.4;
  max-width: 70%;
}

.hero__img {
  img {
    width: 60%;
    height: auto;
  }
}

.hero__btns {
  display: flex;
  gap: 2rem;
  font-size: 1.6rem;
  margin-top: 8rem;
}

.hero__link {
  &:link,
  &:visited {
    color: $red-primary;
    transition: all 0.3s;
  }
  &:hover,
  &:active {
    background-color: $red-primary;
    color: $white-primary;
  }
}

.cta--btn {
  &:link,
  &:visited {
    color: $white-primary;
    background-color: $red-primary;
    padding: 1rem 3rem;
    border-radius: 0.4rem;
    transition: all 0.3s;
  }

  &:hover,
  &:active {
    background-color: $red-darker;
  }
}
