$bleue-primary: #003566;
$white-primary: #f8fafc;
$dark-primary: #212529;
$dark-secondary: #343a40;
$red-primary: #ff0054;
$red-darker: #c00745;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: $white-primary;
  color: $dark-secondary;
  font-size: 1.6rem;
  line-height: 1.6;
}

%link {
  text-decoration: none;
}

.cta--link {
  padding: 1rem 3rem;
  border-radius: 0.4rem;
  border: solid 0.1rem $red-primary;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3rem;
}
a {
  &:link,
  &:visited {
    @extend %link;
  }
}
