.section__contact {
  margin-bottom: 12.8rem;
  background: $light-2;
  padding: 4rem 0;
  padding-top: 18rem;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="file"],
textarea {
  width: 100%;
  padding: 12px;
  border: 0.1rem solid $light-4;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
  margin-bottom: 2rem;
}

input,
textarea {
  &:focus {
    outline: none;
    border: 0.1rem solid $bleue-2;
  }
}
input.is-invalid,
textarea.is-invalid {
  border: 0.1rem solid $red-1;
}
.invalid-message {
  font-size: 1.4rem;
  color: $red-1;
  margin-top: 1rem;
}
label {
  padding: 1.2rem 1.2rem 1.2rem 0;
  display: inline-block;
}

input[type="submit"] {
  background-color: $bleue-2;
  color: $light-1;
  padding: 1rem 3rem;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
  text-transform: uppercase;
}

.form {
  border-radius: 0.5rem;
}
