.hero {
  // background: url("../images/pexels-huseyn-kamaladdin-667838.webp") no-repeat
  //   center center / cover;
  background: linear-gradient(rgb(15, 23, 42, 2), rgb(15, 23, 42, 0.6)),
    url("../images/pexels-huseyn-kamaladdin-667838.webp") no-repeat center
      center / cover;
  position: relative;
  margin-bottom: 12.8rem;
  padding-top: 8rem;
}

.hero__body {
  font-family: Nunito, sans-serif;
  color: $light-1;
  font-weight: 300;
  font-size: 4rem;
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 40rem;
}

.hero__welcome {
  margin-bottom: 4rem;
  line-height: 1.2;
  animation: fadeIn 0.3s ease-in backwards;
}
.hero__description {
  font-size: 2rem;
  color: $light-2;
  animation: fadeIn 0.3s ease-in 0.3s backwards;
}
.hero__links {
  position: relative;
  animation: fadeIn 0.3s ease-in 0.5s backwards;
}

.hero__img {
  position: absolute;
  bottom: -35rem;
  transform: translate(50%, -70%);
  img {
    width: 68rem;
    height: auto;
    animation: fadeIn 0.3s ease-in 0.7s backwards;
  }
}
