.hero {
  background: linear-gradient(rgb(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)),
    url("../images/pexels-huseyn-kamaladdin-667838.webp") no-repeat center
      center / cover;
}

.hero__body {
  font-family: Nunito, sans-serif;
  color: $light-1;
  font-weight: 300;
  font-size: 4rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero__welcome {
  margin-bottom: 4rem;
  line-height: 1.2;
  animation: fadeIn 0.3s ease-in backwards;
}

.hero__description {
  font-family: Roboto, sans-serif;
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  color: $light-3;
  animation: fadeIn 0.3s ease-in 0.3s backwards;
}

.hero__links {
  position: relative;
  animation: fadeIn 0.3s ease-in 0.5s backwards;
}

.hero__img {
  position: absolute;
  bottom: -35rem;
  transform: translate(50%, -70%);
  img {
    width: 68rem;
    height: auto;
    animation: fadeIn 0.3s ease-in 0.7s backwards;
  }
}
