@media screen and (max-width: 84em) {
  html {
    font-size: 58%;
  }
}

@media (max-width: 75em) {
  html {
    font-size: 56.5%;
  }
  .hero__img {
    align-self: center;
  }

  .hero__body {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 59em) {
  html {
    font-size: 50%;
  }
}

@media screen and (max-width: 44em) {
  html {
    font-size: 45%;
  }
}

@media screen and (max-width: 16em) {
}
