@media screen and (max-width: 84em) {
  .nav__list {
    gap: 1.3rem;
  }
  .nav__link {
    &:link,
    &:visited {
      font-size: 2rem;
    }
  }
  .header__brand {
    font-size: 1.5rem;
  }
  .hero__body {
    font-size: 2.5rem;
    padding: 0 6rem;
  }
  .hero__description {
    font-size: 1.4rem;
  }
  .hero__links {
    position: relative;
    margin-top: 2rem;
  }
}

@media (max-width: 75em) {
  .cards {
    flex-direction: column;
  }
  .header__brand {
    font-size: 1.5rem;
  }
  .btn__secondary {
    &:link,
    &:visited {
      font-size: 1.4rem;
    }
  }
  .btn__primary {
    &:link,
    &:visited {
      font-size: 1.4rem;
    }
  }
  .small {
    max-width: 75vw;
  }
}

@media screen and (max-width: 59em) {
  html {
    font-size: 58%;
  }
}

@media screen and (max-width: 44em) {
  html {
    font-size: 50%;
  }
  .nav__link {
    &:link,
    &:visited {
      font-size: 1.5rem;
    }
  }
}
